$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

$color-blue-principal: #035f9b;
$color-white: #ffffff;
$color-gray: #e8e8e8;
$color-black: #383838;
$color-danger: #dc3545;
$color-warning: #ffc107;
